<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication1">
        <activity
            android:name=".MainActivityExam3"
            android:exported="false" />
        <activity
            android:name=".MainActivityExam2"
            android:exported="false" />
        <activity
            android:name=".MainActivityZ"
            android:exported="false" />
        <activity
            android:name=".MainActivityY"
            android:exported="false" />
        <activity
            android:name=".MainActivityX"
            android:exported="false" />
        <activity
            android:name=".MainActivityW"
            android:exported="false" />
        <activity
            android:name=".MainActivityV"
            android:exported="false" />
        <activity
            android:name=".MainActivityU"
            android:exported="false" />
        <activity
            android:name=".MainActivityT"
            android:exported="false" />
        <activity
            android:name=".MainActivityS"
            android:exported="false" />
        <activity
            android:name=".MainActivityR"
            android:exported="false" />
        <activity
            android:name=".MainActivityQ"
            android:exported="false" />
        <activity
            android:name=".MainActivityP"
            android:exported="false" />
        <activity
            android:name=".MainActivityO"
            android:exported="false" />
        <activity
            android:name=".MainActivityN"
            android:exported="false" />
        <activity
            android:name=".MainActivityM"
            android:exported="false" />
        <activity
            android:name=".MainActivityL"
            android:exported="false" />
        <activity
            android:name=".MainActivityK"
            android:exported="false" />
        <activity
            android:name=".MainActivityJ"
            android:exported="false" />
        <activity
            android:name=".MainActivityI"
            android:exported="false" />
        <activity
            android:name=".MainActivityH"
            android:exported="false" />
        <activity
            android:name=".MainActivityG"
            android:exported="false" />
        <activity
            android:name=".MainActivityF"
            android:exported="false" />
        <activity
            android:name=".MainActivityE"
            android:exported="false" />
        <activity
            android:name=".MainActivityResult"
            android:exported="false" />
        <activity
            android:name=".MainActivityExam1"
            android:exported="false" />
        <activity
            android:name=".MainActivityExam"
            android:exported="false" />
        <activity
            android:name=".MainActivityD"
            android:exported="false" />
        <activity
            android:name=".MainActivityC"
            android:exported="false" />
        <activity
            android:name=".MainActivityB"
            android:exported="false" />
        <activity
            android:name=".MainActivity3"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>